absl-py 
asgiref 
astunparse 
atomicwrites 
attrs 
cachetools 
certifi 
charset-normalizer 
click 
colorama 
Django
Flask 
Flask-Login 
Flask-SQLAlchemy 
Flask-WTF 
flatbuffers 
gast 
google-auth 
google-auth-oauthlib 
google-pasta 
greenlet 
grpcio 
gunicorn 
h5py 
idna 
image 
imageio 
iniconfig 
itsdangerous 
Jinja2 
joblib 
keras 
libclang 
Markdown 
MarkupSafe 
networkx
numpy 
oauthlib 
opencv-contrib-python 
opencv-python 
opencv-python-headless 
opt-einsum 
packaging 
pandas 
pickle-mixin 
pickleshare 
Pillow 
pluggy 
protobuf 
py 
pyasn1 
pyasn1-modules 
pytest 
python-dateutil 
pytz 
PyWavelets 
requests 
requests-oauthlib 
rsa 
scikit-image 
scikit-learn 
scipy 
six 
SQLAlchemy 
sqlparse 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
termcolor 
threadpoolctl 
tifffile 
tomli 
typing_extensions 
tzdata 
urllib3 
wcwidth 
Werkzeug 
wrapt 
WTForms 
tensorflow
