<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in layout.html -->
{% block content %}

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6 ">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Prediction for Health Insurance</h3>
                <p class="mt-1 text-sm text-gray-600">Use a permanent address where you can receive mail.</p>
            </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0">
            <form action="/predict" method="POST">
                <div class="overflow-hidden shadow sm:rounded-md">
                    <div class="bg-white px-4 py-5 sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                                {{ form.hidden_tag() }}
                                {{ form.csrf_token }}

                                {{ form.age.label }}
                                <br>
                                {{ form.age(class_='form-control') }}
                                {% for error in form.age.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}

                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                {{ form.bmi.label }}<br>
                                {{ form.bmi(class_='form-control') }}
                                {% for error in form.bmi.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                {{ form.children.label }}<br>
                                {{ form.children(class_='form-control') }}
                                {% for error in form.children.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                {{ form.sex.label }}<br>
                                {{ form.sex(class_='form-control') }}
                                {% for error in form.sex.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="col-span-6">
                                {{ form.smoker.label }}<br>
                                {{ form.smoker(class_='form-control') }}
                                {% for error in form.smoker.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="col-span-6">
                                {{ form.region.label }}<br>
                                {{ form.region(class_='form-control') }}
                                {% for error in form.region.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                        <button type="submit"
                            class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            {{ form.submit(class_='form-control') }}
                        </button>
                    </div>
                    {% if predictedCost %}
                    <div>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Prediction</h3>
                        <p class="mt-1 text-sm text-gray-600">The predicted value is {{ predictedCost }}</p>
                    </div>
                    {% endif %}
                </div>
            </form>
            <main class="flex min-h-screen w-full items-center justify-center bg-gray-100">
                <!-- component -->
                <form action="/history" method="GET">
                    <button type="submit"
                        class="group relative h-12 w-48 overflow-hidden rounded-lg bg-white text-lg shadow">
                        <div
                            class="absolute inset-0 w-3 bg-amber-400 transition-all duration-[250ms] ease-out group-hover:w-full">
                        </div>
                        <span class="relative text-black group-hover:text-white">Go to History</span>
                    </button>
                </form>
            </main>
        </div>
    </div>
</div>


{% endblock %}